* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: none;
}

body {
  background-color: #F6F8FC;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  margin: 0px 80px;

}

.HSN h2 {
  cursor: pointer;
  font-family: 'At Hauss Std', sans-serif;
}

.container {

  margin: 50px 60px 0 60px;

}

.GST-Calculator h2 {
  color: black;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'At Hauss Std', sans-serif;
  padding-bottom: 10px;
}

.HSN-Calculator h2 {
  color: black;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'At Hauss Std', sans-serif;
  padding-bottom: 10px;
}

.GST-Calculator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.HSN-Calculator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.GST-Calculator p {
  text-align: center;
  font-size: 20px;
  font-family: 'At Hauss Std', sans-serif;
  font-style: light;
}

.HSN-Calculator p {
  text-align: center;
  font-size: 20px;
  font-family: 'At Hauss Std', sans-serif;
  font-style: light;

}

.box {
  background-color: white;
  display: flex;
align-items: stretch;
  gap: 2rem;
  padding: 90px 0 50px 30px;
  width: 85%;
 
  margin: 60px auto;



}



.box-hsn {

  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
  padding: 50px 0 30px 30px;
  width: 85%;

  margin: auto;

  box-sizing: border-box;

  align-items: stretch;

}


.inner-box {

  box-sizing: border-box;
}

.inner-box-hsn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* Pushes content to top and bottom */

  /* Or whatever height you want */
  background-color: white;
  border-radius: 14px;
  padding: 70px 30px 0px 30px;

  width: 50%;

  box-sizing: border-box;
}

.box1 {
  background-color: #1545DE;
  width: 40%;
  padding: 30px;
  border-radius: 20px;

  margin-right: 30px;


}


.search-box {
  background-color: white;
  width: 48%;
  padding: 70px 30px 10px 30px;
  border-radius: 20px;


}

#description {
  color: white;
   font-family: 'At Hauss Std', sans-serif;
}

.HSN a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: white;
  font-size: 22px;
  font-family: 'At Hauss Std', sans-serif;
}

#search-text {
  display: block;
  margin-bottom: 8px;
  font-weight: 200;

  font-size: 22px;
  font-family: 'At Hauss Std', sans-serif;

  color: black;
}



.results p {
  color: white;


}

.results {
  margin-top: 70px;
}



.box1 input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  font-size: 1em;
}

.search-box input {
  width: 100%;
  padding: 18px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  font-size: 1em;
  background-color: #009A3B;
  border: 1px solid #81E2A6;
  outline: none;
}


.search-box input::placeholder {
  color: white;
  /* or any color you prefer */
}

.example-queries {
  margin-top: 62px;
}

.example-queries h2 {
  color: #009A3B;
  font-family: 'At Hauss Std', sans-serif;
}

.example-queries p {
  color: #858FA5;
  font-family: 'At Hauss Std', sans-serif;
  padding-top: 10px;
  font-size: 20px;
  margin-bottom: 25px;
}

.example-queries input {
  margin-top: 0px;
  cursor: pointer;
  border: 1px solid #C8CDD7;

}

.example-queries input::placeholder {

  color: black;
}

.Talk-to-cilo-hsn p {
  font-family: 'At Hauss Std', sans-serif;
  font-size: 18px;
  padding-top: 10px;
}

#image-placeholder {
  background: url('images/Vector.png') no-repeat left center;
  background-color: whitesmoke;
  background-size: 20px 20px;
  /* controls image size */
  background-position: 20px center;
  /* shifts image 10px from the left */
  padding-left: 60px;
  /* shifts placeholder text away from image */

  box-sizing: border-box;


}

#image-software {
  background: url('images/software.png') no-repeat left center;
  background-color: whitesmoke;
  background-size: 20px 20px;
  /* controls image size */
  background-position: 20px center;
  /* shifts image 10px from the left */
  padding-left: 60px;
  /* shifts placeholder text away from image */

  box-sizing: border-box;

}

#image-shoes {
  background: url('images/leather.png') no-repeat left center;
  background-color: whitesmoke;
  background-size: 20px 20px;
  /* controls image size */
  background-position: 20px center;
  /* shifts image 10px from the left */
  padding-left: 60px;
  /* shifts placeholder text away from image */

  box-sizing: border-box;
}

#image-rice {
  background: url('images/rice.png') no-repeat left center;
  background-color: whitesmoke;
  background-size: 20px 20px;
  /* controls image size */
  background-position: 20px center;
  /* shifts image 10px from the left */
  padding-left: 60px;
  /* shifts placeholder text away from image */

  box-sizing: border-box;
}

.results p {
  margin: 10px 0;
  font-size: 1em;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  gap: 2rem;
}

.buttons button {
  background-color: white;
  color: #007BFF;
  border: none;
  padding: 15px 9px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;

}

#Clear {
  background-color: white;
  color: #007BFF;
  border: none;
  padding: 16px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #e0e0e0;
}

.dropdown {
  display: flex;


  justify-content: space-between;


}

.dropdown-hsn {
  display: flex;
  justify-content: center;
  margin-top: -28px;
}
.select-hsn {
  width: 50%;
  display: block;
  text-align: center;
}

.select-hsn select {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 20px;
  border-radius: 12px;
  background-color: whitesmoke;
  outline: none;
  border: 1px solid lightgray;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'At Hauss Std', sans-serif;
  font-size: 18px;
}

.select-hsn h2 {
  font-family: 'At Hauss Std', sans-serif;
  color: #858FA5;
  margin-bottom: -10px;
}

#taxcountry{

  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 30px;
  border-radius: 12px;
  background-color: whitesmoke;
  outline: none;
  border: 1px solid lightgray;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'At Hauss Std', sans-serif;
   font-size: 14px;
}
#taxtype{
    height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 30px;
  border-radius: 12px;
  background-color: whitesmoke;
  outline: none;
  border: 1px solid lightgray;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'At Hauss Std', sans-serif;
   font-size: 14px;

}
#inputlanguage{
      height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 30px;
  border-radius: 12px;
  background-color: whitesmoke;
  outline: none;
  border: 1px solid lightgray;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'At Hauss Std', sans-serif;
   font-size: 14px;
}

.Talk-to-cilo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 62px 0px;
}

.Talk-to-cilo-hsn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 100px 0;
}

#ciloButton {
  width: 150px;
  height: 150px;
  border-radius: 50%;


  align-items: center;
  justify-content: center;


  cursor: pointer;
  transition: all 0.3s ease;
}

/* #ciloButton p{
    margin: 0px auto;
}*/
#ciloButtonHsn {
  width: 150px;
  height: 150px;
  border-radius: 50%;


  align-items: center;
  justify-content: center;


  cursor: pointer;
  transition: all 0.3s ease;
}

#ciloButtonHsn img {
  width: 100%;
  height: auto;
  align-items: center;

}


#ciloButton img {
  width: 100%;
  height: auto;
  align-items: center;


}

#ciloText {
  max-width: 600px;
  font-size: 1em;
  text-align: center;
  margin-top: 10px;

  font-family: 'At Hauss Std', sans-serif;

}

.Talk-to-cilo p {
  width: 100%;
  display: block;
  text-align: center;


  box-sizing: border-box;
}



.Transcript {
  background-color: #F6F8FC;

  margin: 58px 0px 0px 0px;
  width: 100%;

  border-radius: 20px;
  padding: 30px;

}

.Transcript-hsn {
  background-color: #F6F8FC;

  width: 100%;

  border-radius: 20px;
  padding: 30px;


}

.Transcript-hsn p {
  font-family: 'At Hauss Std', sans-serif;
  font-size: 18px;
}



.Transcript h3 {
  font-family: 'At Hauss Std', sans-serif;
}

.Transcript p {
  font-family: 'At Hauss Std', sans-serif;
}

#currency {
  padding: 15px 45px;
  border-radius: 12px;
  background-color: whitesmoke;
  outline: none;
  border: 1px solid lightgray;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  font-family: 'At Hauss Std', sans-serif;
  font-size: 14px;

}

.select1 label {
  font-size: 20px;
  font-style: Retina;
  font-family: 'At Hauss Std', sans-serif;
  color: #858FA5;
 
}

.select2 label {
  font-size: 20px;
  font-style: Retina;
  font-family: 'At Hauss Std', sans-serif;
  color: #858FA5;
 

}

.show {
  display: block;
}

.mobile {
  display: none;
}

.container1 {
  display: flex;
  justify-content: center;
  width: 100%;


}

.hsn-table-container {



  background-color: #fdfdfd;
  border-radius: 19px;
  width: 82.5%;
  margin-left: 10px;


  padding: 40px;
  overflow-x: auto;
  box-sizing: border-box;

}

.hsn-table-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

.hsn-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
}

.hsn-table thead {
  background-color: #009A3B;
  color: white;
}

.hsn-table th,
.hsn-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.hsn-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.hsn-table tbody tr:hover {
  background-color: #eef;
}

.no-match-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* or use min-height if you want flexibility */
  text-align: center;
  font-family: 'At Hauss Std', sans-serif;
  font-size: 20px;
  color: #333;
}


@media(max-width:768px) {

  nav {

    padding-top: 70px;
    margin: 0px 10px;
  }

  nav h2 {
    font-size: 1.5em;
  }



  .Talk-to-cilo p {
    font-size: 1em;
    padding: 10px;
  }

  .box {
    width: 100%;

  }


  .GST-Calculator h2 {
    font-size: 28px;
    text-align: center;
  }

  .GST-Calculator p {
    font-size: 18px;
  }

  .box1 {
    width: 100%;
  }

  .box-hsn {


    padding: 0px;
    width: 100%;

    margin: 30px 0 0 0;

  }

  .container {

    margin: 50px 20px 0 20px;

  }

  .container1 {
    margin-top: 20px;
  }

  .hsn-table-container {

    width: 100%;
  }

}


@media(max-width:1024px) {

  #ciloButton {
    width: 100px;
    height: 100px;

  }

}


@media(max-width:1300px) {
  .box {
  
flex-wrap: wrap;

  }

  .box1 {
    width: 80%;
    margin: auto;
  }

  .Transcript {
    margin-top: 40px;
  }

  .dropdown {
    flex-wrap: wrap;
    gap: 3rem;

    justify-content: center;
  }

  .select1 {
    flex: 1 1 200px;
    min-width: 90px;
  }
    .select2 {
    flex: 1 1 200px;
    min-width: 90px;
  }

  .inner-box {
    width: 80%;
    margin: auto;
  }



}

@media(max-width:1200px) {

  .box-hsn {
    justify-content: center;
    align-items: center;

  }

  .search-box {
    width: 100%;
  }

  .inner-box-hsn {
    width: 100%;
  }

  .select-hsn {
    width: 100%;
  }
  


}



